:root {
    min-height: 0vw;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, #213955, #1b1b1b);
}

a {
  color: #97e8ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

#main {
  text-align: left;
  margin: 0 auto;
  color: #efefef;
  margin-bottom: 8px;
  padding: 20px;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

@media (max-width: 768px) {
    pre#jbeard {
        font-size: 8px;
    }
}
